* {
  box-sizing: border-box;
}

body,
.notes {
  background: #333;
}

textarea {
  font-family: "Cascadia Code", sans-serif;
}


.notes {
  border-radius: 10px;
  border: 3px solid Teal;
  color: White;
  resize: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

.btn-sm  {
  width: 3rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.btn-cp {
  width: 2rem;
}

#pwd-input,
#pwd-area {
  font-weight: 600;
  color: Black;
  width: 9rem;
  height: 2rem;
  border-radius: 5px;
  padding-left: 0.3rem;
}

#pwd-input:focus,
.notes:focus {
  outline: 0 solid transparent;
}

#pwd-area {
  background-color: White;
}

#indicator {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: Teal;
  display: inline-block;
}
